<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dontpanic">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DontPanic">
        <activity
            android:name=".SequenceSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".GuidedBreathing"
            android:exported="false" />
        <activity
            android:name=".HapticHB"
            android:exported="false" />
        <activity
            android:name=".GeneralUseActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ModuleSequencesActivity"
            android:exported="false" />
        <activity
            android:name=".ModulesActivity"
            android:exported="false" />
        <activity
            android:name=".MentalExerciseSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".MentalExerciseOneActivity"
            android:exported="false" />
        <activity
            android:name=".MentalExerciseTwoActivity"
            android:exported="false" />
        <activity
            android:name=".MentalExerciseThreeActivity"
            android:exported="false" />
        <activity
            android:name=".MentalExerciseFourActivity"
            android:exported="false" />
        <activity
            android:name=".ModuleInterfaceActivity"
            android:exported="false" />
        <activity
            android:name=".ModuleSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".SelfReflectionActivity"
            android:exported="false" />
        <activity
            android:name=".SelfReflectionTwoActivity"
            android:exported="false" />
        <activity
            android:name=".SelfReflectionThreeActivity"
            android:exported="false" />
        <activity
            android:name=".SelfReflectionFourActivity"
            android:exported="false" />
        <activity
            android:name=".SelfReflectionFiveActivity"
            android:exported="false" />
        <activity
            android:name=".SelfReflectionSixActivity"
            android:exported="false" />
        <activity
            android:name=".AppExerciseSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".AppExerciseOneActivity"
            android:exported="false" />
        <activity
            android:name=".AppExerciseTwoActivity"
            android:exported="false" />
    </application>

</manifest>